{% extends 'base.html' %}

{% block content %}
<h2>Inventory Management</h2>
<a href="/add" class="btn btn-success mb-3">Add New Product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price (£)</th>
            <th>Expiry Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if products %}
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.expiry_date }}</td>
                <td>
                    <td>
                        <a href="{{ url_for('update_product', id=product.id) }}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{{ url_for('delete_product', id=product.id) }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                    
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" class="text-center">No products available</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
